@model MongoDb.Dtos.FaqDto.GetFaqByIdDto
@{
    ViewData["Title"] = "Soru Güncelle";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Soru Güncelleme Sayfası</h4>
            <form method="post" class="forms-sample">
                <input type="hidden" asp-for="FaqId" />
                <div class="form-group">
                    <label>Soru</label>
                    <input type="text" class="form-control" asp-for="Question" placeholder="Soru">
                </div>
                <div class="form-group">
                    <label>Cevap</label>
                    <textarea class="form-control" asp-for="Answer" rows="4" placeholder="Cevap"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mr-2">
                    <i class="typcn typcn-tick"></i> Güncelle
                </button>
                <a href="/Faq/FaqList" class="btn btn-light">
                    <i class="typcn typcn-times"></i> İptal
                </a>
            </form>
        </div>
    </div>
</div>