@model MongoDb.Dtos.SocialMediaDto.CreateSocialMediaDto
@{
    ViewData["Title"] = "Sosyal Medya Ekle";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Sosyal Medya Linkleri Ekle</h4>
            <form method="post" class="forms-sample">
                <div class="form-group">
                    <label>Facebook</label>
                    <input type="text" class="form-control" asp-for="Facebook" placeholder="https://facebook.com/...">
                </div>
                <div class="form-group">
                    <label>Twitter</label>
                    <input type="text" class="form-control" asp-for="Twitter" placeholder="https://twitter.com/...">
                </div>
                <div class="form-group">
                    <label>Youtube</label>
                    <input type="text" class="form-control" asp-for="Youtube" placeholder="https://youtube.com/...">
                </div>
                <div class="form-group">
                    <label>Instagram</label>
                    <input type="text" class="form-control" asp-for="Instagram" placeholder="https://instagram.com/...">
                </div>
                <div class="form-group">
                    <label>LinkedIn</label>
                    <input type="text" class="form-control" asp-for="LinkedIn" placeholder="https://linkedin.com/...">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <a href="/SocialMedia/SocialMedialist" class="btn btn-light">İptal</a>
            </form>
        </div>
    </div>
</div>