@model MongoDb.Dtos.ProductDto.GetProductByIdDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ürün Güncelleme Sayfası</h4>

            <form method="post" class="forms-sample">
                <input type="hidden" asp-for="ProductId" />

                <div class="form-group">
                    <label>Ürün Adı</label>
                    <input type="text" class="form-control" asp-for="ProductName" placeholder="Ürün Adı">
                </div>
                <div class="form-group">
                    <label>Ürün Yapım Zamanı</label>
                    <input type="text" class="form-control" asp-for="TotlalTime" placeholder="Toplam Zaman">
                </div>
                <div class="form-group">
                    <label>Ürün Güncel Fiyatı</label>
                    <input type="text" class="form-control" asp-for="Price" placeholder="Ürün Güncel Fiyatı">
                </div>
                <div class="form-group">
                    <label>Ürünün Eski Fiyatı</label>
                    <input type="text" class="form-control" asp-for="OldPrice" placeholder="Ürün Eski Fiyatı">
                </div>
                <div class="form-group">
                    <label>Ürünün Görseli</label>
                    <input type="text" class="form-control" asp-for="ImageUrl" placeholder="Ürün Görseli">
                </div>

                <button type="submit" class="btn btn-primary mr-2">
                    <i class="typcn typcn-tick"></i> Güncelle
                </button>
                <a href="/Product/ProductList" class="btn btn-light">
                    <i class="typcn typcn-times"></i> Vazgeç
                </a>
            </form>
        </div>
    </div>
</div>
