<section class="text-center">
    <div class="cta-wrap subscribe-elt2 ">
        <div class="container">
            <div class="col-md-12">
                <h1>Hurry up! Subscribe our newsletter <br> and get<span> 25% Off</span></h1>
                <p>Limited time offer for this month. No credit card required.</p>

                <form class="intro-newsletter" asp-controller="Subscribe" asp-action="CreateSubscribe" id="invite" method="POST">
                    <div class="row">
                        <div class="col-md-8">
                            <input class="e-mail" placeholder="Email Address here" name="Email" id="eaddress" data-validate="validate(required, email)" type="email">
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-block" type="submit">Subscribe</button>
                        </div>
                    </div>
                    <div id="subscribeMessage" class="mt-3" style="display:none;"></div>
                </form>
            </div>
        </div>
    </div>
</section>