<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Paneli -  MongoDb</title>
    <!-- base:css -->
    <link rel="stylesheet" href="/adminTemplate/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="/adminTemplate/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/adminTemplate/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="/adminTemplate/css/admin-custom.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/adminTemplate/images/favicon.png" />
</head>